.homePageContainer {
  padding: 0 80px;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainerJoin {
  padding-top: 200px;
  font-size: 36px;
  font-weight: 600;
}

.chatContainer {
  padding-top: 120px;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: antiquewhite;
}
